* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.content {
  background-color: rgb(244, 240, 240);
}

.page-content {
  margin: 0 auto;
  max-width: 1200px;
}

.content {
  margin: 0 20px;
  padding: 30px;
}

.grid {
  font-size: 30px;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr;

  gap: 15px;

  height: 500px;
}

.gird-item:nth-child(1) {
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;
}

.gird-item:nth-child(2) {
  grid-column: 4 / span 2;
  grid-row: 1 / span 2;
}

.gird-item:nth-child(3) {
  grid-column: 6 / span 1;
  grid-row: 1 / span 1;
}

.gird-item:nth-child(4) {
  grid-column: 6 / span 1;
  grid-row: 2 / span 1;
}

.gird-item:nth-child(5) {
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
}

.gird-item:nth-child(6) {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
}

.gird-item:nth-child(7) {
  grid-column: 3 / span 1;
  grid-row: 4 / span 1;
}

.gird-item:nth-child(8) {
  grid-column: 4 / span 3;
  grid-row: 3 / span 2;
}

/*

0px ========= MOBILE ========== 640px ========= TABLET ========== 1024px ======== DESKTOP =========== 1200px

*/
/* MOBILE */

@media screen and (min-width: 0px) and (max-width: 639px) {
  body {
    background: yellow;
  }
}

/* TABLET */
@media screen and (min-width: 640px) and (max-width: 1023px) {
  body {
    background: pink;
  }
}

/* DESKTOP */
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  body {
    background: greenyellow;
  }
}